.card {
    /* width: 20rem; */
    width: 17rem;
}

.card>div:first-child {
    height: 200px;
}

.image {
    height: 200px;
    width: 16.9rem;
    border-radius: 5px 5px 0 0;
    background-position: center center;
}

h5 {
    font-weight: 600;
    color: var(--orange);
}

.btn {
    background-color: var(--orange);
    color: white;
    border-radius: 15px;
    width: 100%;
    font-weight: 600;
}

div.card:first-child div {
    position: relative;
}

/* div.card:first-child div p {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 2px 7px;
    border: 2px solid black;
    font-weight: 600;
} */

.heart-holder {
    position: absolute;
    left: 14.4rem;
    top: -12.5rem;
    z-index: 1;
    height: 40px;
    width: 40px;
    background-color: lightgray;
    border-radius: 0 5px 0 5px;
}

.heart-holder i {
    position: absolute;
    left: 13px;
    top: 11px;
}