#eventosSection {
    background-color: var(--orange);
    padding-bottom: 0.625rem;
}

div h3 {
    color: white;
    line-height: 2.8125rem;
    height: 2.8125rem;
}

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 0.25rem;
    width: auto;
}

button {
    height: 2.8125rem;
}

.button-container {
    margin-top: auto;
    margin-bottom: auto;
}