@if(eventos){
<div id="eventosSection">
  <div class="container mt-5">
    <h3>Eventos >></h3>
  </div>

  <div class="col m-4">

    <!-- BIGGER THAN 1224px -->
    @if (!isMobile) {
    <div class="button-container">
      <button (click)="previousItems()"><i class="fas fa-chevron-left"></i></button>
    </div>

    @for (event of eventos.slice(currentIndex, currentIndex + 4); track $index) {
    <evento-card [event]="event"></evento-card>
    }
    <div class="button-container">
      <button (click)="nextItems()"><i class="fas fa-chevron-right"></i></button>
    </div>
    }

    <!-- SMALLER THAN 1224px -->

    @if (isMobile) {
    @for (event of eventos; track $index) {
    <evento-card [event]="event"></evento-card>
    }
    }

  </div>

</div>
}