<div id="hero" class="video-container">
    <!-- VIDEO BACKGROUND -->
    <video controls autoplay muted>
        <source src="{{ data?.heroMultimedia?.[0]?.src }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- HEADER 1 -->
    <div class="pt-5">
        <h1 class="mt-1">Planifica tu visita a {{data?.headerName?.es}}</h1>
    </div>

    <!-- CALL TO ACTIONS -->
    <div class="row justify-content-md-center mt-5" id="ctaArea">
        <div class="col-sm-auto">
            <div class="content">
                <!-- TODO: incluir ReactiveFormsModule -->
                <input type="text" class="form-control" placeholder="¿QUÉ BUSCAS?">
                <button class="btn">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="content">
                <a href="#" class="col col-lg-2 areas">
                    <p class="text-center">CREA TU RUTA PERSONALIZADA CON IA</p>
                </a>
            </div>
        </div>
    </div>

    <!-- FINAL PARAGRAPH -->
    <div class="justify-content-center lastDiv">
        <p>{{data?.claim?.es}}</p>
    </div>
</div>