<div id="hero">
    <!-- HEADER 1 -->
    <div class="pt-5">
        <h1 class="mt-1">Planifica tu visita a Valencia</h1>
    </div>


    <!-- CALL TO ACTIONS -->
    <div class="row justify-content-md-center mt-5" id="ctaArea">
        <div class="col-sm-auto">
            <div class="content">

                <!-- TODO: incluir ReactiveFormsModule -->

                <input type="text" class="form-control" placeholder="¿QUÉ BUSCAS?">

                <button class="btn">
                    <i class="fa fa-search"></i>
                </button>

            </div>
        </div>
        <div class="col-sm-auto">
            <div class="content">
                <a href="#" class="col col-lg-2 areas">
                    <p class="text-center">CREA TU RUTA PERSONALIZADA
                        CON IA</p>
                </a>
            </div>
        </div>
    </div>


    <!-- FINAL PARAGRAPH -->
    <div class="justify-content-center lastDiv">
        <p>Descubre cómo podrías informar y registrar a los turistas con nuestra inteligencia artificial 24/7</p>
    </div>

</div>