<div>
  <h2>¡Tenemos estas rutas preparadas para ti!</h2>

  <div class="col mt-3">

    <!-- BIGGER THAN 1224px -->
    @if (!isMobile) {
    <div class="button-container">
      <button (click)="previousItems()"><i class="fas fa-chevron-left"></i></button>
    </div>

    @for (recommendation of recommendationList.slice(currentIndex, currentIndex + 4); track $index) {
    <item-card [recommendation]="recommendation"></item-card>
    }
    <div class="button-container">
      <button (click)="nextItems()"><i class="fas fa-chevron-right"></i></button>
    </div>
    }

    <!-- SMALLER THAN 1224px -->

    @if (isMobile) {
    @for (recommendation of recommendationList; track $index) {
    <item-card [recommendation]="recommendation"></item-card>
    }
    }

  </div>

</div>